.countries {
   display: flex;
   flex-wrap: wrap;
   font-size: 1.1rem;
}

.total, 
.country {
   margin: 5px 10px;
   padding: 10px 20px;
   border: solid #eee 2px;
   width:300px;
}
.name {
   font-size: 1.5rem;
   font-weight: bold;
}
button,
.name {
   text-transform: capitalize;
}

.total > * ,
.country > * {
   margin: 5px 0;
}
thead {
   display: flex;
   flex-direction: column;
}

tbody.rank li {
   text-decoration: none;
   list-style: none;
}

tbody.rank {
   display: flex;
   font-size: .8rem;
   flex-direction: column;
}


.country tbody.rank tr:nth-child(even) {
   background-color: #eee;
}


tbody.rank tr {
   flex-grow: 1;
   display: flex;
}

tr.registeredUser th {
   text-align: start;
}


table {
   width: 100%;
}

td:first-child {
   flex-grow: 1;
}